<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <connectionStrings>

    <add name="Serveur_A"
         connectionString="Server=SERVER_NAME\\INSTANCE;Database=DATABASE_NAME;User Id=DB_USER;Password=DB_PASSWORD;" />

    <add name="Serveur_B"
         connectionString="Server=SERVER_NAME\\INSTANCE;Database=DATABASE_NAME;User Id=DB_USER;Password=DB_PASSWORD;" />

    <add name="Serveur_C"
         connectionString="Server=SERVER_NAME\\INSTANCE;Database=DATABASE_NAME;User Id=DB_USER;Password=DB_PASSWORD;" />

    <add name="Serveur_D"
         connectionString="Server=SERVER_NAME\\INSTANCE;Database=DATABASE_NAME;User Id=DB_USER;Password=DB_PASSWORD;" />

    <add name="Serveur_E"
         connectionString="Server=SERVER_NAME\\INSTANCE;Database=DATABASE_NAME;User Id=DB_USER;Password=DB_PASSWORD;" />

    <add name="Serveur_F"
         connectionString="Server=SERVER_NAME\\INSTANCE;Database=DATABASE_NAME;User Id=DB_USER;Password=DB_PASSWORD;" />

    

  </connectionStrings>

  <appSettings>
    <add key="UserGuidePdfPath" value="WPolyQuery_User_Guide.pdf"/>
  </appSettings>

</configuration>
